@charset "UTF-8";

/* -------------------------------------
 *
 * base
 *
------------------------------------- */


body {
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: $base-line-height;
  color: $base-font-color;
}
a {
  color: $base-link-color;
  text-decoration: none;
}
a:visited,
a:hover,
a:active,
a:focus {
  color: $base-link-color;
  text-decoration: none;
}

label {
  cursor: pointer;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}